In [1]:
import pandas as pd

Series & DataFrame(Preferred) DataTypes 

Series Discussed here - Column elements with indices and elemnts (Limitation: Only two col, 1- index, 1- values)

Series(data,index)

In [20]:
list1 = [1,2,3,4]
ser = pd.Series(list1)
type(ser)

pandas.core.series.Series

In [21]:
ser

0    1
1    2
2    3
3    4
dtype: int64

Indexes(Labels) can be given too

Useful Example: when entering student names with marks

In [22]:
labels = ['a','b','ram','d']
ser = pd.Series(list1, labels)
ser

a      1
b      2
ram    3
d      4
dtype: int64

In [23]:
dict1 = {"ram":64,"alex":90,"lyod":78}
ser2 = pd.Series(dict1)
ser2

ram     64
alex    90
lyod    78
dtype: int64

In [24]:
ser2["ram"]

64

series can be concatenated.
Just indexes are merged with values removed and replaced with NaN (done by conversion to arrays which means it's slower)


if any index is same among both of the series, then values  get added

In [25]:
ser+ser2

a        NaN
alex     NaN
b        NaN
d        NaN
lyod     NaN
ram     67.0
dtype: float64